@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: #ecf4ff;
  font-family: "Roboto", sans-serif;
}

.secaoTransversal {
  display: flex;
}
.dados {
  margin-left: 15px;
}
img {
  max-height: 200px;
}